<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.customtest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoadingActivity" />
        <activity android:name=".activity.ShapeButtonActivity" />
        <activity android:name=".activity.NoDrawableActivity" />
        <activity android:name=".activity.SuperTextActivity" />
        <activity android:name=".activity.DownLoadingActivity" />
        <activity android:name=".activity.IdCardActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity
            android:name=".activity.CheckBoxActivity"
            android:label="自定义checkbox" />
        <activity
            android:name=".activity.ChannelViewActivity"
            android:label="拖动、排序、增删，动态" />
        <activity
            android:name=".activity.LiveDataActivity"
            android:label="Android消息总线，基于LiveData，具有生命周期感知能力" />
        <activity
            android:name=".activity.CarKeyBoardActivity"
            android:label="车牌号输入框/输入键盘" />
        <activity
            android:name=".activity.AnyLayerActivity"
            android:label="用于替代Android自带Dialog和PopupWindow" />

    </application>

</manifest>